In [ ]:
Name : Ashutosh Waghire
TE-IT 
DIV : I
ROLL : 54

In [2]:
import pandas as pd

In [13]:
df=pd.read_csv('Admission_Predict.csv')

In [15]:
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [17]:
df.columns = df.columns.str.rstrip() #removing right space

In [19]:
df.loc[df['Chance of Admit']>=0.80,'Chance of Admit']=1

In [21]:
df.loc[df['Chance of Admit']<0.80,'Chance of Admit']=0

In [23]:
df['Chance of Admit']

0      1.0
1      0.0
2      0.0
3      1.0
4      0.0
      ...
395    1.0
396    1.0
397    1.0
398    0.0
399    1.0
Name: Chance of Admit, Length: 400, dtype: float64

In [25]:
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

In [27]:
df=df.drop('Serial No.' ,axis=1)

In [29]:
df

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,1.0
1,324,107,4,4.0,4.5,8.87,1,0.0
2,316,104,3,3.0,3.5,8.00,1,0.0
3,322,110,3,3.5,2.5,8.67,1,1.0
4,314,103,2,2.0,3.0,8.21,0,0.0
...,...,...,...,...,...,...,...,...
395,324,110,3,3.5,3.5,9.04,1,1.0
396,325,107,3,3.0,3.5,9.11,1,1.0
397,330,116,4,5.0,4.5,9.45,1,1.0
398,312,103,3,3.5,4.0,8.78,0,0.0
399,333,117,4,5.0,4.0,9.66,1,1.0

In [33]:
x=df.iloc[:,0:7]
y=df.iloc[:,7]

In [35]:
y

0      1.0
1      0.0
2      0.0
3      1.0
4      0.0
      ...
395    1.0
396    1.0
397    1.0
398    0.0
399    1.0
Name: Chance of Admit, Length: 400, dtype: float64

In [51]:
from sklearn.model_selection import train_test_split

# Assuming 'X' is your feature set and 'y' is your target labels
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [53]:
from sklearn.tree import DecisionTreeClassifier

In [55]:
model = DecisionTreeClassifier(criterion="entropy", max_depth=4)
model.fit(x_train, y_train)
y_pred = model.predict(x_test)

In [57]:
y_pred

array([0., 0., 1., 1., 0., 1., 0., 0., 0., 1., 0., 1., 0., 1., 0., 0., 0.,
       0., 0., 1., 0., 0., 0., 0., 1., 1., 0., 0., 0., 1., 1., 1., 0., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 1., 1., 1., 0., 1., 1., 1.,
       0., 0., 1., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1.,
       1., 0., 0., 1., 1., 1., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0.,
       0., 1., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0.,
       0.])

In [59]:
from sklearn.metrics import confusion_matrix

In [61]:
matrix=confusion_matrix(y_test,y_pred,labels=[0.0,1.0])

In [63]:
x_train.shape
x_test.shape

(120, 7)

In [65]:
matrix

array([[80,  3],
       [ 4, 33]], dtype=int64)

In [67]:
from sklearn.metrics import accuracy_score

In [69]:
acc=accuracy_score(y_test,y_pred)

In [71]:
print(acc)

0.9416666666666667

In [73]:
#i found entropy seems best for this work as it gave 0.93 accuracy !!

In [76]:
from sklearn.metrics import classification_report
cr=classification_report(y_test,y_pred)

In [78]:
print(cr)

              precision    recall  f1-score   support

         0.0       0.95      0.96      0.96        83
         1.0       0.92      0.89      0.90        37

    accuracy                           0.94       120
   macro avg       0.93      0.93      0.93       120
weighted avg       0.94      0.94      0.94       120